body {
    background: #ffffff;
    border: #dddddd;
}

#TopBar {
    /* width: 960px; */
    /* color: #ffffff; */
    /* border-bottom: #cccccc; */
    /* margin: auto; */
}
#name {
    /* height: 75px; */
    /* float: left; */
    background: #4aaaa5;
    /* position: relative;  */
    /* margin: auto; */
    text-align: center;
    padding: 10px;
}
h1 {
    color: white;
    /* width: 300px; */
    /* text-align: center; */
    /* float: left; */
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#HeaderLinks {
    /* float: right; */
    margin: auto;
    width: 270px;
    padding: 10px;
}
#GrayBox {
    clear: both;
    height: 100%;
    margin: auto;
    background-image: url(../images/crossline-lines.png);
    padding: 10px;
}

.WhiteBox {
    width: 320px;  
    background: white;
    margin: auto;   
    overflow: hidden;
}
textarea {
    width: 95%;
    /* margin: 5px; */
}


.heading2 {
    color: #4aaaa5;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
}

a {
    float: left;
    padding: 20px;
    color: 777777;
}

.image {
    float: left;
    margin: 20px;
}

footer {
    clear: both;
    background: #666666;
    color: #777777;
}

p {
    padding-left: 30px;
    color: #777777;
    line-height: 200%;
    font-family: Arial, Helvetica, sans-serif;
}


.fieldsbox {
    margin-left: 20px;
}

hr {
    border: 2px solid rgb(223, 229, 235);
}



.label {
    padding-left: 0px;
    padding-top: 10px;
    margin: 0px;
}

#TextArea {
    padding: 0;
    margin: 0;
}

button {
    background: #4aaaa5;
    color: white;
    padding: 5px;
}

.foot {
    clear: both;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}
.copyWrite {
    margin: auto;
    width: 20%;
}

@media screen and (min-width: 640px) {
    .WhiteBox {
        width: 100%
    }


@media screen and (min-width: 768px) {
    .WhiteBox {
        width: 728px;
    }
    #TopBar{
        width: 728px;
        margin: auto;
    }
    .image {
        width: 50%;
    }
    #name {
        width: 40%;
        float: left;
    }
    #HeaderLinks {
        float: right;
        
    
    }
      
}
@media screen and (min-width: 960px) {
    .WhiteBox {
        width: 920px;
    }
    #TopBar{
        width: 920px;
    }
    .image {
        width: 30%;
    }
    #name {
        width: 40%;
        float: left;
    }
    #HeaderLinks {
        float: right;
    }
    .foot {
        position: fixed;
    }
}


